@import "./variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/bootstrap";

@import "./country.scss";
@import "./submit.scss";
@import "./video.scss";

$utilities: map-merge(
  $utilities,
  (
    "bg-opacity":
      map-merge(
        map-get($utilities, "bg-opacity"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "bg-opacity"), "values"),
              (
                5: 0.05,
              )
            ),
        )
      ),
  )
);

@import "bootstrap/scss/utilities/api";
@import "./grid.scss";

body {
  background-image: url("https://helpdeskeddy.ru/images/lines/block-start-right-bg.svg"),
    url("https://helpdeskeddy.ru/images/lines/block-start-left-bg.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right, left;

  .min-w-fixed {
    min-width: 150px;
  }
}
