@import "bootstrap/scss/bootstrap";

.iti {
  width: 100%;

  &__country-list {
    z-index: 10;
  }
}

.submit-btn {
  background: linear-gradient(266deg, #2c9b75 0, #23879a 100%);

  &:hover {
    background: linear-gradient(153deg, #2c9b75 0, #23879a 100%);
  }
}

.video-js .vjs-big-play-button {
  width: 60px;
  height: 60px;
  border-radius: 90%;
  line-height: 57px;
}

body {
  background-image: url("https://helpdeskeddy.ru/images/lines/block-start-right-bg.svg"),
    url("https://helpdeskeddy.ru/images/lines/block-start-left-bg.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right, left;
}

.min-w-170px {
  min-width: 170px;
}
